---
permalink: /te.css
---

body { } /* spellingcheck buffer from frontmatter */

.wrapper { 
    margin: auto;
    padding: 72px;
    max-width: 768px;

    #logo { 
        width: 124px;
        height: auto;
        float: right;
        padding-bottom: 48px
    }

    #logo-after { 
        clear: right;
    }

    p { 
        line-height: 1.32em;
        padding-bottom: 27px;
    }
    
    .quote {
        font-size: 118%;
        font-style: italic;
        padding-left: 27px;
    }
}
